<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.y2k4.mapper.finance.SpendMapper">

    <select id="listSpends" resultType="com.multi.y2k4.vo.finance.Spend">
        SELECT
        spend_id,
        spend_code,
        spend,
        spend_date,
        spend_comment
        FROM
        spend
        <where>
            <if test="spendCode != null">
                AND spend_code = #{spendCode}
            </if>
            <if test="searchComment != null and searchComment != ''">
                AND spend_comment LIKE CONCAT('%', #{searchComment}, '%')
            </if>
        </where>
        ORDER BY spend_date DESC
    </select>

</mapper>