<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.y2k4.mapper.tenant.transaction.SaleDetailsMapper">
    <select id="searchById" resultType="com.multi.y2k4.vo.transaction.SaleDetails">
        select sd.*,s.stock_name, s.qty remain_qty from sale_details sd LEFT JOIN stock s ON sd.stock_id = s.stock_id  where sale_id = #{sale_id}
    </select>

    <insert id="addSaleDetails" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="sale_id" keyColumn="sale_id">
        insert into sale_details (sale_id, stock_id, qty, price_per_unit, total_price) values
        <foreach collection="saleDetails" item="item" separator=",">
            (#{item.sale_id}, #{item.stock_id}, #{item.qty}, #{item.price_per_unit}, #{item.total_price})
        </foreach>
    </insert>

    <delete id="deleteSaleDetails">
        DELETE FROM sale_details WHERE sale_id = #{sale_id}
    </delete>

    <!-- 대시보드용 판매 금액 조회 -->
    <select id="selectSalesForDashboard" resultType="map">
        SELECT
            sd.stock_id,
            st.stock_name,
            SUM(sd.total_price) AS total_price_sum
        FROM sale_details sd
                 JOIN sale s
                      ON sd.sale_id = s.sale_id
                 JOIN stock st
                      ON sd.stock_id = st.stock_id
        WHERE s.status = 2
          AND s.order_date >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        GROUP BY sd.stock_id, st.stock_name
        ORDER BY total_price_sum DESC
            LIMIT 5
    </select>
</mapper>