<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.y2k4.mapper.tenant.document.DocumentsMapper">
    <select id="list" resultType="com.multi.y2k4.vo.document.Documents">
        SELECT * FROM documents
        <where>
            <if test="cat_id != null">
                cat_id = #{cat_id}
            </if>
            <if test="tb_id != null">
                tb_id = #{tb_id}
            </if>
            <if test="cd_id != null">
                cd_id = #{cd_id}
            </if>
            <if test="req_id != null">
                req_id = #{req_id}
            </if>
            <if test="req_date != null">
                req_date != req_date
            </if>
            <if test="appr_id != null">
                appr_id != #{appr_id}
            </if>
            <if test="appr_date != null">
                appr_date != #{appr_date}
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </where>
    </select>

    <select id="searchById" resultType="com.multi.y2k4.vo.document.Documents">
        SELECT * FROM documents WHERE doc_id = #{doc_id}
    </select>

    <insert id="addDocument" parameterType="com.multi.y2k4.vo.document.Documents" useGeneratedKeys="true" keyProperty="doc_id" keyColumn="doc_id">
        INSERT INTO documents (cat_id, tb_id, cd_id, req_id, req_date, title, content, appr_id, appr_date, status, comments, query)
        VALUES (#{cat_id}, #{tb_id}, #{cd_id}, #{req_id}, #{req_date}, #{title}, #{content}, #{appr_id}, #{appr_date}, #{status}, #{comments}, #{query})
    </insert>

    <update id="editStatus">
        UPDATE documents set status = #{status} WHERE doc_id = #{doc_id}
    </update>

</mapper>