<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>회원 가입</h2>
<form method="post">
    <div>
        <label>
            <input type="text" name="id" class="form-control" placeholder="아이디" required>
        </label>

        <label>
            <input type="password" name="password" class="form-control" placeholder="비밀번호" required>
        </label>

        <label>
            <input type="email" name="email" class="form-control" placeholder="이메일" required>
        </label>
        <label>
            <input type="text" name="name" class="form-control" placeholder="이름" required>
        </label>
        <label>
            <label>
                <input type="text" id="company_display" class="form-control"
                       placeholder="회사명 입력" disabled>
                <button type="button" onclick="find_Company()">회사 찾기</button>
            </label>
            <input type="hidden" name="company_id" id="company_id_hidden">
        </label>
        <label>
            <input type="number" name="email" class="form-control"  maxlength="8"  placeholder="생년월일 8자리" required>
        </label>
        <label>
            <input type="number" name="phone" class="form-control" maxlength="11" placeholder="휴대전화 번호" required>
        </label>
    </div>
    <button type="submit">회원 등록</button>
</form>
</body>
<script>
    function find_Company(){
        const url='./../popup/findCompany.html';
        const features = 'width=700,height=750,resizable=no,scrollbars=yes';
        window.open(url,'find_Company',features).focus();
    }
    function setCompany(result){
        // payload = { bno: '398-87-01116', company: '(주)우리금융지주' }
        document.getElementById('company_display').value =
            `${result.company} (${result.bno})`;
        document.getElementById('company_id_hidden').value = result.bno;
    }


</script>
</html>