<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>로그인</h2>
<form method="post">
    <div>
        <label>
            <input type="text" name="id" class="form-control" placeholder="아이디" required>
        </label>

        <label>
            <input type="password" name="password" class="form-control" placeholder="비밀번호" required>
        </label>

    <button type="submit">로그인</button>
    </div>
</form>
<a href="/addUser">회원가입</a>
<a>아이디 찾기</a>
<a>비밀번호 찾기</a>
</body>
</html>