<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.y2k4.mapper.tenant.inventory.OutboundMapper">
    <select id="list_all" resultType="com.multi.y2k4.vo.inventory.Outbound">
        select * from outbound
    </select>

    <select id="list" resultType="com.multi.y2k4.vo.inventory.Outbound">
        select * from outbound
        <where>
            <if test="outbound_date !=null">
                outbound_date = #{outbound_date}
            </if>
            <if test="stock_id !=null">
                stock_id = #{stock_id}
            </if>
            <if test="ac_id !=null">
                ac_id = #{ac_id}
            </if>
            <if test="emp_id!=null">
                emp_id = #{emp_id}
            </if>
            <if test="approval">
                approval = #{approval}
            </if>
        </where>
    </select>

    <insert id="addOutbound" parameterType="com.multi.y2k4.vo.inventory.Outbound" useGeneratedKeys="true" keyProperty="outbound_id" keyColumn="outbound_id">
        insert into outbound (outbound_date, stock_id, outbound_qty, ac_id, emp_id, remark, approval)
        values (#{outbound_date}, #{stock_id}, #{outbound_qty}, #{ac_id}, #{emp_id}, #{remark}, #{approval})
    </insert>

    <update id="updateOutbound" parameterType="com.multi.y2k4.vo.inventory.Outbound">
        UPDATE outbound
        <set>
            <if test="outbound_date  != null"> outbound_date  = #{outbound_date},  </if>
            <if test="stock_id        != null"> stock_id         = #{stock_id},        </if>
            <if test="outbound_qty  != null"> outbound_qty  = #{outbound_qty},  </if>
            <if test="ac_id       != null"> ac_id        = #{ac_id},       </if>
            <if test="emp_id       != null"> emp_id        = #{emp_id},       </if>
            remark        = #{remark}
            <if test="approval       != null"> approval        = #{approval},       </if>
        </set>
        WHERE outbound_id = #{outbound_id}
    </update>
</mapper>