<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.y2k4.mapper.tenant.inventory.StockMapper">
    <select id="list_all" resultType="com.multi.y2k4.vo.inventory.Stock">
        select * from stock where is_deleted = 0
    </select>

    <select id="list" resultType="com.multi.y2k4.vo.inventory.Stock">
        SELECT stock_id, stock_name, qty, unit_price, location, type
        FROM stock
        <where>
            <if test="stock_name != null and stock_name != ''">
                AND stock_name LIKE CONCAT('%', #{stock_name}, '%')
            </if>
            <if test="qty != null">
                AND qty = #{qty}
            </if>
            <if test="unit_price != null">
                AND unit_price = #{unit_price}
            </if>
            <if test="location != null and location != ''">
                AND location LIKE CONCAT('%', #{location}, '%')
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="is_deleted != null">
                AND is_deleted = #{is_deleted}
            </if>
        </where>
    </select>


    <insert id="addStock" parameterType="com.multi.y2k4.vo.inventory.Stock" useGeneratedKeys="true" keyProperty="stock_id" keyColumn="stock_id">
        insert into stock (stock_name, qty, unit_price, location, type)
        values (#{stock_name}, #{qty}, #{unit_price}, #{location}, #{type})
    </insert>

    <select id="selectStockById" resultType="com.multi.y2k4.vo.inventory.Stock">
        SELECT * FROM stock
        WHERE stock_id = #{stock_id}
    </select>

    <update id="updateStock" parameterType="com.multi.y2k4.vo.inventory.Stock">
        UPDATE stock
        <set>
            <if test="stock_name  != null"> stock_name  = #{stock_name},  </if>
            <if test="qty        != null"> qty         = #{qty},        </if>
            <if test="unit_price  != null"> unit_price  = #{unit_price},  </if>
            <if test="location   != null"> location    = #{location},   </if>
            <if test="type       != null"> type        = #{type},       </if>
        </set>
        WHERE stock_id = #{stock_id}
    </update>


    <!--삭제-->
    <update id="deleteStock" parameterType="com.multi.y2k4.vo.inventory.Stock">
        UPDATE stock
        SET is_deleted = 1,
            stock_name = '-',     -- VARCHAR
            qty        = 0,       -- INT
            unit_price = 0,       -- INT
            location   = '-',     -- VARCHAR
            type       = 0        -- INT (예: 기본값)
        WHERE stock_id = #{stock_id}
          AND is_deleted = 0
    </update>
</mapper>